/* Styles for the button */
.download {
  margin: 50px;
  margin-left: 250px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db; /* Border color */
  color: #ffffff; /* Text color */
  background-color: #3498db; /* Background color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease;
}
.content {
  margin: auto 40px;
  font-size: 16;
}
.uploadBtn {
  margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #65592c; /* Border color */
  color: #ffffff; /* Text color */
  background-color: #65592c; /* Background color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Hover state for the button */
.download:hover {
  background-color: #ffffff; /* Background color on hover */
  color: #3498db; /* Text color on hover */
}

/* input[type="file"] {
  display: none;
} */

.uploadInput {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.uploadContainer {
  margin-left: 50px;
}
